body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header{
    text-align: center;
} 
 h1{
    font-size: 50px;
    color:red;
    
}
p{
    color: rgb(73, 76, 128);
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    padding:15px 25px;
    background-color: rgba(26, 24, 24, 0.61);
    border-radius: 12px;
}
.top-header{
    width: auto;
    height: 438px;
    padding-top: 120px;
    background-image: url(images/donation5.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.donation-info-div{
    text-align: center;
}
ul{
    list-style-type: none;
}
li{
    font-size:30px;
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:20px;
    color: gray;
}
.donation-money-list{
    text-align: center;
}
#default-clicked-money{
    background-color: rgba(116, 136, 132, 0.24);
    border: 1px solid black;
}
#donation-description{
    margin: 50px;
}
#input-money{
    padding: 10px 100px;
    margin:50px;
}
.donation-plan-separate0{
    height: 300px;
    width: 300px;
    margin: 20px;    
    border: 1px solid green; 

}
.donation-plan-separate1{
    height: 300px;
    width: 300px;
    margin: 20px;    
    border: 1px solid green; 

    
}
.donation-plan-separate2{
    height: 300px;
    width: 300px;
    margin: 20px;   
    border: 1px solid green; 
    background-repeat: no-repeat;

}
.donation-plan-separate{
    display: flex;
    margin-left: 100px;
}
.icon-1{
    width: 20%;
    height: 20%;
    padding-top:50px;
    padding-left: 20px;
}
.final-description{
    margin-left: 10px;
}
.f-f-a-f{
    margin-left: 10px;
}

.own-design-part{
    display: flex;
}
.own-design{
    margin-top: 100px;
    margin-left: 100px;
}
.svg-shape{
    height: 140px;
    width: 500px;
}
.ellipse-design{
fill-opacity: 10%;
stroke: green;
stroke-width: 5px;
}
.my-updates{
    text-align: center;
}
#email{
    padding: 10px;
    margin-top: 50px;
}
.btn{
    padding: 10px;
}
.updated-class{
    width: 700px;
    height: 150px;
    background-color: rgba(58, 9, 38, 0.151);
    margin-left: 300px;
}
.footer-area{
    height: 160px;
    width: 100%;
    background-color: black;
    margin-top: 120px;
    text-align: center;
}
.footer-text{
    color: white;
}
.orange{
    color: orange;
}
.world{
    color: black;
    margin-left: 140px;
}